<footer class="footer mt-5 pt-5">

  <div class="container">
    <div class="row gy-4">

      <!-- ABOUT -->
      <div class="col-lg-6 text-start">
        <h6 class="fw-bold text-uppercase mb-3">
          <span class="text-danger">/</span> ABOUT <span class="text-danger">/</span>
        </h6>

        <div class="d-flex align-items-center mb-3">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/images/profile.jpg" class="rounded-circle me-3" width="60"
            height="60" style="object-fit:cover;">

          <div>
            <h6 class="mb-0 fw-bold">Indonesiya</h6>
            <small class="text-muted">Jakarta, Indonesia</small>
          </div>
        </div>

        <p class="d-flex align-items-center small text-muted">
          Berbagi informasi, menginspirasi dan terpopuler.
        </p>

        <a href="{{ site.url }}{{ site.baseurl }}/about/"
          class="d-flex align-items-center small text-danger link-primary text-decoration-none">
          Lihat profil lengkapku
        </a>

        <!-- SOCIAL -->
        <div class="mt-3 d-flex gap-3 fs-5 text-secondary">
          <a href="{{ site.url }}{{ site.baseurl }}/facebook/"><i class="fab fa-facebook"></i></a>
          <a href="{{ site.url }}{{ site.baseurl }}/twitter/"><i class="fab fa-x-twitter"></i></a>
          <a href="{{ site.url }}{{ site.baseurl }}/instagram/"><i class="fab fa-instagram"></i></a>
          <a href="{{ site.url }}{{ site.baseurl }}/threads/"><i class="fab fa-threads"></i></a>
          <a href="{{ site.url }}{{ site.baseurl }}/youtube/"><i class="fab fa-youtube"></i></a>
          <a href="{{ site.url }}{{ site.baseurl }}/whatsapp/"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>

      <!-- LINKS -->
      <div class="col-lg-3 col-6 text-start">
        <h6 class="fw-bold text-uppercase mb-3">
          <span class="text-danger">/</span> LINK <span class="text-danger">/</span>
        </h6>

        <ul class="list-unstyled">
          <li class="mb-1"><a href="https://aridjaya.com/"
              class="footer-link text-danger text-decoration-none link-primary">Aridjaya</a></li>
          <li class="mb-1"><a href="https://indonesiya.com/"
              class="footer-link text-danger text-decoration-none link-primary">Indonesiya</a></li>
          <li class="mb-1"><a href="https://maginve.com/"
              class="footer-link text-danger text-decoration-none link-primary">Maginve</a></li>
          <li class="mb-1"><a href="https://hanapha.com/"
              class="footer-link text-danger text-decoration-none link-primary">Hanapha</a></li>
          <li class="mb-1"><a href="https://asninfo.id/"
              class="footer-link text-danger text-decoration-none link-primary">ASN Info</a></li>
        </ul>
      </div>

      <!-- HALAMAN -->
      <div class="col-lg-3 col-6 text-start">
        <h6 class="fw-bold text-uppercase mb-3">
          <span class="text-danger">/</span> PAGES <span class="text-danger">/</span>
        </h6>

        <ul class="list-unstyled">
          <li class="mb-1"><a href="{{ site.url }}{{ site.baseurl }}/about/"
              class="footer-link text-danger text-decoration-none link-primary">About</a></li>
          <li class="mb-1"><a href="{{ site.url }}{{ site.baseurl }}/disclaimer/"
              class="footer-link text-danger text-decoration-none link-primary">Disclaimer</a></li>
          <li class="mb-1"><a href="{{ site.url }}{{ site.baseurl }}/privacy/"
              class="footer-link text-danger text-decoration-none link-primary">Privacy Policy</a></li>
          <li class="mb-1"><a href="{{ site.url }}{{ site.baseurl }}/contact/"
              class="footer-link text-danger text-decoration-none link-primary">Contact</a></li>
          <li class="mb-1"><a href="{{ site.url }}{{ site.baseurl }}/sitemap/"
              class="footer-link text-danger text-decoration-none link-primary">Sitemap</a></li>
        </ul>
      </div>

    </div>
  </div>

  <!-- COPYRIGHT -->
  <div class="footer-bottom text-center mt-4 py-3">
    <small> © {{ site.time | date: "%Y" }}
      - <a href="{{site.copyright.link}}"
        class="fw-bold text-dark link-danger text-decoration-none">{{ site.title }}</a></small>
  </div>

  <!-- SCROLL TOP -->
  <a href="#">
    <button id="scrollTopBtn" class="scroll-top" style="display: block; "> ↑ </button>
  </a>

  <!-- Floating Bottom Ad -->
  <div id="floatingBottomAd"
    class="position-fixed bottom-0 start-50 translate-middle-x bg-white shadow border rounded-top overflow-hidden"
    style="z-index:1080; width:100%; max-width:728px;">
    <!-- Close Button -->
    <button type="button" class="small btn-close bg-danger position-absolute top-0 end-0 m-1" aria-label="Close"
      style="z-index:2;" onclick="event.stopPropagation();
                 setTimeout(function () {
                   document.getElementById('floatingBottomAd').style.display = 'none';
                 }, 4000);">
    </button>
    <!-- Ad Container -->
    <div class="text-center overflow-hidden p-1">
      {% include adfloat.html %}
    </div>
  </div>
</footer>