<!-- RECENT POSTS -->
<div class="mb-4">
  <h6 class="fw-bold text-uppercase mb-3">
    <span class="text-danger">/</span> ARTIKEL TERBARU <span class="text-danger">/</span>
  </h6>

  {% for post in site.posts limit:7 %}
  {% if post.url != page.url %}
  <div class="d-flex mb-3">

    {% if post.image %}
    <div class="me-2">
      <a href="{{ post.url | relative_url }}">
        <img src="{{ post.image | relative_url }}" class="rounded"
          style="min-width: 120px; height: 75px; object-fit: cover;" loading="lazy">
      </a>
    </div>
    {% endif %}

    <div class="flex-grow-1">

      <!-- CATEGORY -->
      <div class="small text-danger text-capitalize fw-bold">
        {{ post.categories | first }}
      </div>

      <!-- TITLE -->
      <a href="{{ post.url | relative_url }}"
        class="text-dark link-danger text-capitalize text-decoration-none fw-bold d-block">
        {{ post.title | truncate: 60 }}
      </a>

    </div>

  </div>
  {% endif %}
  {% endfor %}

</div>

<!-- CATEGORIES CLOUD -->
<div class="mb-4">
  <h6 class="fw-bold text-uppercase mb-3">
    <span class="text-danger">/</span> KATEGORI <span class="text-danger">/</span>
  </h6>

  <div class="d-flex flex-wrap gap-1">

    {% assign sorted_categories = site.categories | sort %}

    {% for category in sorted_categories %}
    {% if category[0] != "" %}
    <a href="/categories/#{{ category[0] | slugify }}"
      class="small text-decoration-none border border-1 text-primary link-danger text-capitalize px-2 py-1 rounded">
      {{ category[0] }}
    </a>
    {% endif %}
    {% endfor %}

  </div>
</div>

<!-- STICKY WIDGET -->
<div class="sticky-top sticky-top-80 mb-4">
  <h6 class="fw-bold text-uppercase mb-3">
    <span class="text-danger">/</span> SPONSOR <span class="text-danger">/</span>
  </h6>

  <p class="ad-box text-center">
    {% include adsidebar.html %}
  </p>
</div>