@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Ubah font default Bootstrap */
body {
  overflow-x: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
}

.post-content {
  font-family: Merriweather;
  font-size: 1.1rem;
  line-height: 1.84;
  color: rgba(0, 0, 0, .8);
}

.post-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
  border-radius: 8px;
}

.ad-box {
  max-width: 100%;
  overflow: hidden;
}

.ad-box iframe,
.ad-box img,
.ad-box ins {
  max-width: 100% !important;
  display: block;
  margin: auto;
}

.adsbygoogle {
  display: block;
  max-width: 100% !important;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* SCROLL BUTTON */
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #dc3545;
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: none;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer .d-flex {
    justify-content: center;
  }
}